{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ChalaStore</title>
  <!-- Favicons -->
  <link href="{% static 'assets/img/icono.png' %}" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<script>
  function showLogoutMessage(event) {
      event.preventDefault();
      var message = "¡Has cerrado la sesión exitosamente!";
      alert(message);
      window.location.href = event.currentTarget.href;
  }
</script>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent header-scrolled">
    <div class="container d-flex justify-content-between align-items-center">
      <div id="logo">
        <h1><a href="/">ChalaStore</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="nosotros.html">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="galeria.html">Galería</a></li>
          <li><a class="nav-link scrollto" href="/#contact">Ubicación</a></li>  
          <li><a class="nav-link scrollto" href="mostrar.html">Productos</a></li>   
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="administracion.html">Administración</a></li>     
          {% endif %}  
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/admin/logout/" onclick="showLogoutMessage(event)">Cerrar Sesión</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: white;"> ChalaStore </h1>
      <h2>"Rompe las reglas, redefine la moda"</h2>
      <a href="nosotros.html" class="btn-get-started">Más Información</a>
    </div>
  </section><!-- End Hero Section -->
  <main id="main">
    
    <!-- ======= About Section ======= -->

    <section class=""></section>
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Ubicación</h3>
          <p class="section-description">El rio Mapocho, Santiagocity</p>
        </div>
      </div>
      <br>
      <br>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21739.09274821044!2d-70.78992351824469!3d-33.52149196322319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dd1d2202d7c5%3A0xe63bdaa011810f8e!2sR%C3%ADo%20Mapocho!5e0!3m2!1ses-419!2scl!4v1721192805564!5m2!1ses-419!2scl" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      <div class="container mt-5">
        <div class="section-header">
          <h3 class="section-title">Reserva tu visita aqui</h3>
          <p class="section-description">Recuerda que debes ser mayor de 18 años para agendar una visita</p>
        </div>
        <div class="row justify-content-center">

          <div class="col-lg-5 col-md-8">
            <div class="form">
            
              <form class="email-form" name="formulario" onsubmit="return validarFormulario()">

                <input type="text" name="nombre" class="form-control" id="name" placeholder="Tu nombre" required><br>

                <input type="text" name="apellido" class="form-control" id="lastname" placeholder="Tu apellido" required><br>
                <select name="comuna" id="comuna" class="form-control" required>
                  <option value="">Seleccione una comuna</option>
                  <!-- Agregar más opciones de comunas aquí -->
                </select><br>

                <input type="text" name="rut" class="form-control" id="Rut" min="9" max="9" placeholder="Rut" required><br>


                <input type="number" name="edad" class="form-control" id="edad" min="18" max="100"  placeholder="Tu edad" required><br>

                <input type="email"  name="correo" class="form-control" id="email" placeholder="e-mail" required><br>

                <input type="date" name="fechaVisita" class="form-control" required><br>
              
                <div class="text-center"><button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Reservar Visita</button></div>

                
              </form>
              <br>
              <br>
              <div class="d-flex justify-content-center">
            
                <div class="clock">
                  <h2 class="text-center">Fecha y hora actual:</h2>
                  <span class="date"></span> |
                  <span class="hours"></span> :
                  <span class="minutes"></span> :
                  <span class="seconds"></span>
                </div>
            </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
    <div class="footer-top">
      <div class="container">

      </div>
    </div>



    <div class="container">

      
      <div class="info d-flex flex-row justify-content-between">
        <div class="mr-3">
          <i class="bi bi-geo-alt"></i>
          <p>Rio Mapocho</p>
        </div>
      
        <div class="mr-3">
          <i class="bi bi-envelope"></i>
          <p>ChalaStore@ejemplo.com</p>
        </div>
      
        <div>
          <i class="bi bi-phone"></i>
          <p>+56 9 3235 8743</p>
        </div>
      </div>
      <div class="copyright">
        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        © Copyright <strong>ChalaStore</strong>. Todos los derechos reservados.
      </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Referencia a jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Referencia a Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>

  <!-- Referencia a los archivos JavaScript de Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/api.js' %}"></script>




</body>

</html>
