<html>
    {% load humanize %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplo Webpay Plus - Confirmar Transacci&oacute;n</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Ejemplo Webpay Plus - Confirmar Transacci&oacute;n</a></li>
        <li class="breadcrumb-item active" aria-current="page">Step: Commit Transaction</li>
    </ol>
</nav>

<div class="alert alert-warning" role="alert">
    <h3>request</h3>
    token_ws: {{ token }}
</div>
<div class="alert alert-primary" role="alert">
    <h3>result</h3>
    {{ response }}
</div>


{% if response.status != 'FAILED' %}
<b><p><samp style="color: rgb(0, 185, 0);">Pago Aceptado por webpay</samp></p></b>
<h3> Detalle de Compra </h3><br><h6>Fecha: {{ fecha }}</h6>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Código Boleta</th>
            <th>Código Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in productos%}
        <tr>
            <td>{{ prod.id_boleta }}</td>
            <td>{{ prod.id_producto }}</td>
            <td>{{ prod.cantidad }}</td>
            <td>{{ prod.subtotal|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
       
    <tr><td><h6>Total Compra: ${{ total|intcomma }}</h6></td>
    </tr>
</table>
{% else %}
<b><p><samp style="color: rgb(255, 0, 0);">Pago Rechazado por webpay</samp></p></b>
{% endif %}
<br>
<form action="/webpay-plus/refund" method="POST">
    <input type="hidden" name="token_ws" value="{{ token }}">
    <input type="hidden" name="amount" value="{{ response.amount }}">
</form>
<a href="/">&laquo; volver a index</a>
</body>
</html>